[submodule "ccpp-framework"]
	path = ccpp/framework
	url = https://github.com/NCAR/ccpp-framework
	branch = develop
[submodule "ccpp-physics"]
	path = ccpp/physics
	url = https://github.com/christopherwharrop-noaa/ccpp-physics
	branch = feature/gt4py
[submodule "CMakeModules"]
	path = CMakeModules
	url = https://github.com/noaa-emc/CMakeModules
	branch = develop
